nav>ul{
    opacity: 0.7;
    background: black;
    z-index: 1;
    border: 20px antiquewhite;
}
body{
    background: 0px;
    color: rgb(17,17,17);
}

h3> a{
    color: snow;
    z-index: 1;
}
h3{
    color: seashell;

}
video{
    z-index: -1;
    position: fixed;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    transition-property: opacity;
    background: #000;
    background-size: cover;
}
body> div.content{
    background-color: black;
    opacity: 0.7;
    z-index: 0;
    position: relative;
    color: red;
}
body> div.content>div{
}